.Order{
    margin-bottom: 100px;
    padding: 0 20px;
}

.Order input{
    border: 1.10px solid #004267b3;
    box-shadow: 5px 5px 20px 1px #9e9a9a54;
    outline: none;
}

.head{
    width: 720px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 100px;
    margin-bottom: 100px;
}
.gotohome{
    color: #000000B2;
    font-size: large;
    font-weight: 600;
    font-size: 15px;
}
.main{
    font-size: 35px;

}
.imput1{
    width: 100%;
    margin: 0 auto;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    flex-direction: column;
}
.text1{
    display: flex;
    justify-content: space-between;
}
.title{
    font-size: 20px;
    color: #212121;
}
.num{
    font-size: 20px;
    color: #0000004D;
}
.title_inp{
    width: 100%;
    height: 40px;
    background-color: #F6F6F6;
    padding: 5px 15px;
    font-size: large;
    border: 2px solid #004267b3;
    box-shadow: 5px 5px 20px 1px #9e9a9a54;
    outline: none;
}
.imput2{
    width: 100%;
    margin: 0 auto;
    margin-top: 40px;
}
.text2{
    display: flex;
    justify-content: flex-start;
}
.dis_inp{
    width: 100%;
    background-color: #F6F6F6;
    padding: 15px;
    padding-bottom: 200px;
    font-size: large;
    border: 2px solid #004267b3;
    box-shadow: 5px 5px 20px 1px #9e9a9a54;
    outline: none;
}
.select{
    width: 100%;
    height: 60px;
    margin: 0 auto;
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.menu-bar{
    width: 450px;
    height: 60px;
    background: #FBFBFB;
    position: relative;
    border: 1px solid #004267b3;
    justify-content: space-between;
    cursor: pointer;
    transition: 1s;
}

.order_icon_text{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid;
    height: 100%;
}

.select_text{
    font-size: large;
    font-weight: 500;
    margin-left: 20px;
    width: 100%;
}
.fa-solid{
    font-weight: 500;
}

.none-drop{
    width: 450px;
    display: none;
    transition: 1s;
}

.dropdown{
    transition: 1s;
    margin-top: 1px;
    border-left: 1px solid #004267;
    border-right: 1px solid #004267;
    border-bottom: 1px solid #004267;
}

.menu-bar .dropdown{
    width: 450px;
    transform: translateX(-1px);
    color: #000;
    background: #FBFBFB;
}

.menu-bar2{
    margin: 0 10px;
    width: 450px;
    height: 60px;
    background: #FBFBFB;
    border: 1px solid #004267b3;
    justify-content: space-between;
    cursor: pointer;
    transition: 1s;
}

.none-drop2{
    display: none;
    transition: 1s;
}

.dropdown2{
    transition: 1s;
    margin-top: 1px;
    border-left: 1px solid #004267;
    border-right: 1px solid #004267;
    border-bottom: 1px solid #004267;
}


.menu-bar2 .dropdown2{
    width: 450px;
    transform: translateX(-1px);
    color: #000;
    background: #FBFBFB;
}

.drop_li{
    padding: 0 10px;
    display: flex;
    justify-content: top;
    align-items: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
    margin-right: 20px;
}
.drop_span{
    padding: 10px;
    height: 30px;
    margin-top: 10px;
    display: flex;
    align-items: center;
}
.drop_span1{
    width: 190px;
    height: 30px;
    margin-top: 10px;
    display: flex;
    align-items: center;
}
.drop_span1 input{
    width: 20px;
    height: 20px;
}
.drop_span input{
    width: 20px;
    height: 20px;
}

.drop_text{
    font-size: 11px;
    font-weight: 500;
    text-transform: capitalize;
    margin-left: 5px;
}
.upload{
    max-width: 100%; 
    margin:  0px auto;
    text-align: start;
    margin-top: 70px;
}
.upload-box{
    max-width: 100%;     
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-color: #FBFBFB;
    border: 1px solid #004267b3;
    padding: 20px 0;
}
.upload_text{
    font-size: large;
    margin-bottom: 10px;
}
.upload_img{
    width: 500px;
    margin-left: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.upload_image{
    width: 150px;
    border-radius: 5px;
}
.upload_browse{
    width: 430px;
    margin-right: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;
}
.browse{
    padding: 10px 20px;
    background: #004267;
    color: #fff;
    border-radius: 5px;
    transition: .5s;
}
.browse:hover{
    transform: scale(1.1);
    
}

.deadline{
    width: 80%;
    /* margin-left: 70px; */
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.deadline_input{
    width: 250px;
    height: 50px;
    background-color: #F6F6F6;
    font-size: 20px;
    margin-bottom: 20px;
}
.none_checkbox{
    display: flex;
    align-items: center;
}
.deadline span input{
    width: 20px;
    height: 20px;
    background-color: #D1D1D1;
}
.deadline span p{
    margin-left: 10px;
    font-weight: 600;
}
.deadline label{
    display: flex;
    align-items:center ;
}
.deadline_number{
    width: 220px;
    height: 40px;
    font-size: 20px;
    font-weight: bolder;
    padding-top: 13px;
    padding-bottom: 13px;
    padding-left: 40px;
    padding-right: 20px;
}

.deadline_icon{
    background: #F2F2F2;
    border-radius: 4px;
    padding: 1px 7px;
    position: relative;
    overflow: hidden;
    left: 11%;
    top: -0.5px;
}

.deadline_icon{
    font-size: 22px;
    font-weight: 600;
}

.order-span{
    /* margin-left: 60px; */
    margin-top: 50px;
    display: flex;
}

.order-span a{
    margin: 10px 10px;
    text-align: center;
}

.order_cancel{
    padding: 10px 25px;
    color: black;
    border: 1px solid #004267;
    border-radius: 5px;
    font-weight: 600;
    transition: .4s;
}
.order_cancel:hover{
    background-color: #004267;
    color: white;
}
.order_start{
    padding: 10px 25px ;
    background: #004267;
    color: #fff;
    border-radius: 5px;
    font-weight: 600;
    transition: .4s;
}
.order_start:hover{
    transform: scale(1.1);
}



/* RESPONSIVEE */




@media  (max-width:1120px){
    .container{
      width: 1020px;
      margin: 0 auto;
    }

    .upload{
      max-width: 100%; 
    }

    .upload-box{
      max-width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .upload_img{
        width: 90%;
        margin-left: 20px;
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        align-items: center;
        margin-bottom: 30px;
    }
    .upload_image{
        width: 220px;
        margin: 10px;
    }

    .upload_browse{
        margin-right: 20px;
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .droptag{
        font-size: 20px;
        letter-spacing: 1px;
        font-weight: 400;
        margin-bottom: 10px;
    }

    .browse{
        font-weight: 400;
        padding: 10px 35px;
        font-size: 16px;
        letter-spacing: 1px;
    }
  
  }
  
  @media screen  and (max-width:1000px){
    
    .container{
      width: 900px;
      margin: 0 auto;
    }

    .menu-bar, .menu-bar2{
        width: 45%;
    }

    .menu-bar .dropdown{
        width: 100%;
    }

    .menu-bar2 .dropdown2{
        width: 100%;
    }
  }
  
  
  @media screen  and (max-width:900px){
    
    .container{
      width: 800px;
      margin: 0 auto;
    }

    .upload_image{
        width: 220px;
    }

    .head{
        width: 550px;
    }
  }
  
  @media screen  and (max-width:800px){
    
    .container{
      width: 700px;
      margin: 0 auto;
    }

    .head{
        width: 500px;
    }

    .upload_img{
        margin: 0px;
    }
  }
  
  @media screen  and (max-width:700px){
    
    .container{
      width: 600px;
      margin: 0 auto;
    }

    .head{
        width: 450px;
    }

    .main{
        font-size: 30px;
    }

    .none_checkbox{
        display: none;
    }

    .deadline{
        width: 100%;
        margin-top: 30px;
        margin-bottom: 20px;
        margin-left: 0;
        flex-direction: column; 
    }

    .deadline_input{
        width: 72%;
        margin-left: 20px;
    }

    .deadline_number{
        width: 100%;
    }
  }
  
  @media screen  and (max-width:600px){
    
    .container{
      width: 500px;
      margin: 0 auto;
    }

    .upload_image{
        width: 100%;
    }

    .head{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    
    .order-span{
        width: 80%;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
    }

    .order_cancel, .order_start{
        padding: 10px 20px;
        margin: 0 10px;
    }

    .deadline_input{
        width: 92%;
        margin-left: 20px;
    }
  }
  
  
  @media screen  and (max-width:500px){
    
    .container{
      width: 400px;
      margin: 0 auto;
    }

    .menu-bar{
        width: 100%;
    }

    .menu-bar2{
        display: none;
    }

    .upload_browse{
        text-align: center;
    }
  
  }
  
  @media screen  and (max-width:400px){
    
    .container{
      width: 100%;
      margin: 0 auto;
    }

   
  }