.profile{
    padding-top: 150px;
}

.profile_nav{
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.profile_left{
    display: flex;
    align-items: center;
}

.profile_left div{
    margin-left: 14px;
}

.profile_left h2{
    font-size: 20px;
    letter-spacing: 1px;
    color: #0b0b0b;
}

.profile_left p{
    color: #333333;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: .20px;
}

.img_nav_btn3{
    position: relative;
    outline: none;
    cursor: pointer;
    width: 50px;
    height: 50px;
    background: #000000;
    border-radius: 50%;
    overflow: hidden;
}

.img_nav_btn3::before{
    position: absolute;
    content: "";
    inset: -2px 18px;
    background: linear-gradient(215deg, #00ccff, #d400d4);
    transition: .3s;
    animation: anime 2s linear infinite;
}

.img_nav_btn3:hover::before{
    inset: -2px 0px;
}

@keyframes anime{
    0%{
        transform: rotate(0deg);
    }

    100%{
        transform: rotate(360deg);
    }
}

.img_nav_btn3::after{
    content: "";
    position: absolute;
    inset: 3px;
    background: #000000;
    border-radius: 50%;
    z-index: 1;
}

.img_nav_bt3{
    width: 85%;
    height: 85%;
    position: absolute;
    inset: 4px;
    z-index: 3;
    border-radius: 50%;
    overflow: hidden;
}

.img_nav_bt3 img {
    height: 100%;
    width: 100%;
}